:root{
    --dark-blue:#131735;
    --dark-purple:#7D397A;
    --light-purple:#9755BE;
    --green:#26FF02;
    --grey:#2C2B2C;
    --white:#FFFFFF;
}

body{
    margin: auto;
    box-sizing: border-box;
    background-color: var(--dark-blue);
}

#header{
    margin: 10px;
}

.logo{
    position: absolute !important;
}

#top-nav .navbar-brand {
    display: none;
}

#nav-background-colour{
    background-color: var(--dark-purple)!important;
}

#nav-text a{
    color: var(--white) !important;
    text-shadow: 0 0 30px #ffffff;
}

.container-fluid{
    position: relative;
    padding: 0;
}

.slides{
    display: none;
}

.prev, .next {
  position: absolute;
  top: 0%;
  max-width: 100%;
  width: 10%;
  padding: 0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  background-color: rgba(141, 45, 125, 0.5);
  height: 100%;
}

.next{
    text-align: center;
    right:0;
    border-radius: 3px 0 0 3px;
}

.row{
    display: flex;
}

.col{
    width:50vw;
}

#left-arrow,#right-arrow{
    max-width:100%;
    width:auto;
    filter: invert(8%) sepia(9%) saturate(7488%) hue-rotate(206deg) brightness(99%) contrast(98%);
    margin-top: 5rem;
}

.prev:hover, .next:hover{
    background-color: var(--white).5;
}

#grid-deals{
    gap: 10vw;
}

#deals-container,#featured-container,#coming-soon-container{
    display: flex;
    margin: 30px auto;
}

#featured-title{
    max-width: 100%;
    width:100%;
    margin: 0;
}

.display-6{
    color: var(--dark-purple);
    text-shadow: 3px 2px 10px rgba(255, 0, 212, 1);
    border: 1px solid var(--dark-purple);
    border-radius: 10px;
    max-width: 100%;
    text-align: center;
    border-color: rgba(255, 0, 212, 1);
    margin: auto;
    width: 100%;
}

.v-line{
    border: 1px solid rgba(255, 0, 212, 1);
    width: 100%;
    margin: auto auto;
}

.footer-v-line{
    border: 1px solid var(--dark-blue);
}

#side-info{
    display: flex;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-left: 10px;
    grid-gap:10px;
}

.grid-2 img{
    width: 100%;
}

.left-image{
    width: 50%;
}

#length{
    width:20vw;
}

#discount{
    position: absolute;
    color: var(--green);
    background-color: var(--grey);
    padding: 10px;
    width: 25%;
}

.card-img-top{
    cursor:pointer;
}

.card{
    background-color: transparent;
    width: 100%;
    padding-bottom: 10px;
}

.card-title {
    margin-bottom: var(--bs-card-title-spacer-y);
    color: var(--bs-card-title-color);
    width:200px;
    max-width: 100%;
    margin: auto;
    font-size: 12px;
}

.card-body{
    background-color: var(--grey);
    color: var(--white);
    display: flex;
}

.card-text{
    text-align: right;
    background-color: var(--grey);
    display: block;
    color: var(--green);
    font-size: 10px;
}

#discount-price{
    text-decoration: line-through;
    opacity: 0.5;
    color: var(--white);
}

#footer{
    margin: 0;
    padding: 0;
}

.foot{
    background-color: var(--dark-purple);
    color: var(--white);
    max-width: 100%;
    text-align: center;
}

.list-nav{
    margin: 0;
    padding-bottom: 10px;
}

.list-nav li{
    list-style-type: none;
    font-size: 14px;
}

.list-nav-item a{
    color: var(--white);
    text-decoration: none;
}

.display-5{
    font-size: 20px;
}

.list-nav-item img{
    width:30%;
    padding-bottom: 10px;
}

.list-nav-item svg{
    width:40%;
    padding-bottom: 10px;
}

@media only screen and (min-width: 800px){

    #top-nav .navbar-brand {
        display: block !important;
        background-color: var(--dark-purple);
    }

    .logo {
        position: relative !important;
    }

    #top-logo{
        display:none;
    }

    #top-nav a{
        font-size: 60px;
        padding: 10px;
    }

    #nav-background-colour{
        background-color: var(--dark-blue) !important;
    }

    .navbar-nav{
        max-width: 1000px;
        padding-left: 10px;
        margin: auto;
        
    }

    .navbar-nav li{
        padding-left: 30px;
        font-size: 25px;
    }

    #nav-background-colour,.slides,#slideshow{
        max-width:1300px;
        margin: auto;
    }

    .slides img{
        object-fit: cover;
        height: 650px;
        width:1300px;
        overflow: hidden;
    }

    .card{
        width: 100%;
    }

    .card-title,.card-text{
        font-size:20px;
    }

    .display-6{
        width: 30%;
    }

    .card-body{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    #left-arrow,#right-arrow{
        max-width:100%;
        width:auto;
        filter: invert(8%) sepia(9%) saturate(7488%) hue-rotate(206deg) brightness(99%) contrast(98%);
        margin-top: 15rem;
    }

    .list-nav{
        max-width: 1000px;
        margin: auto;
    }

    .grid-support{
        display: flex;
    }

    .list-nav-item img{
        width:20%;
    }

    .display-5{
        margin-top: 30px;
        font-size: 25px;
    }

    #footer-nav,#footer-text{
        display:flex;
    }

    #foot-title,#foot-SUB {
       padding-right:200px;
       padding-left: 10px;
    }

    .list-nav-item img{
        width:20%;
    }

    .list-nav-item svg{
        width:50%;
    }

    .footer-v-line{
       display: none;
    }
}