:root{
    --dark-blue:#131735;
    --dark-purple:#7D397A;
    --light-purple:#9755BE;
    --green:#26FF02;
    --grey:#2C2B2C;
    --white:#FFFFFF;
}

body{
    margin: auto;
    box-sizing: border-box;
    background-color: var(--dark-blue);
    max-width: 600px;
}

.navbar-brand,.nav-item{
    padding-left: 10px;
}

#nav-background-colour{
    background-color: var(--dark-purple)!important;
}

#nav-text a{
    color: var(--white) !important;
}

.container-fluid{
    position: relative;
    padding: 0;
    margin-bottom: 20px;
}

.slides{
    display: none;
}

.prev, .next {
  position: absolute;
  top: 0%;
  max-width: 100%;
  width: 10%;
  padding: 0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  background-color: rgba(141, 45, 125, 0.5);
  max-height: 100%;
  height: 32vh;
  
}

.prev img, .next img{
    margin: 90px 10px;
}

.next{
    text-align: center;
    right:0;
    border-radius: 3px 0 0 3px;
}

#left-arrow,#right-arrow{
    width:30%;
    filter: invert(87%) sepia(100%) saturate(19%) hue-rotate(311deg) brightness(108%) contrast(109%);
}

.prev:hover, next:hover{
    background-color: rgb(0, 0, 0, 0.8);
}

#deals-container{
    display: flex;
}

.display-6{
    color: var(--dark-purple);
    text-shadow: 3px 2px 10px rgba(255, 0, 212, 0.5);
    border: 1px solid var(--dark-purple);
    border-radius: 10px;
    max-width: 50%;
    width: 80%;
    text-align: center;
}

.v-line{
    border: 1px solid var(--dark-purple);
    width: 100%;
    margin: auto auto;
}

.card{
    width:auto !important;
    background-color: transparent !important;
}

#discount{
    color: var(--green);
    background-color: var(--grey);
}

.card-body{
    background-color: var(--grey) !important;
    width:auto;
    height: auto;
}

.card-text,.card-body{
    color:var(--white);
}